$color_main_bg: #ccc;
$color_shadow: #aaa;
$color_bg_modal_middle: #fff;
$color_border_modal_middle: #000;
$border_modal_middle: 2px;
$radius_border_modal_middle: 5px;
$shadow_border_modal_middle: 5px 5px 10px #555;