$color_main_bg: #ccc;
$color_shadow: #aaa;
$color_bg_modal_middle: #fff;
$color_border_modal_middle: none;
$color_bg_modal_middle_header: #eee;
$color_bg_modal_middle_context: #fff;
$color_bg_modal_middle_footer: #eee;
$color_close_modal: #eee;
$color_hover_close: #ccc;