@charset "UTF-8";
@-webkit-keyframes turnn {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes turnn {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

@-webkit-keyframes scale0 {
  from {
    scale: 1;
  }
  25% {
    scale: 0.7;
  }
  50% {
    scale: 1;
  }
  75% {
    scale: 0.7;
  }
  to {
    scale: 1;
  }
}

@keyframes scale0 {
  from {
    scale: 1;
  }
  25% {
    scale: 0.7;
  }
  50% {
    scale: 1;
  }
  75% {
    scale: 0.7;
  }
  to {
    scale: 1;
  }
}

/* 
* Основной блок стилизации
*/
.App {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.modal {
  width: 100%;
  height: 100%;
}

.modal .shadow {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.modal_middle_window {
  width: 50vw;
  height: auto;
  position: absolute;
  top: 15vh;
  left: 25vw;
  z-index: 101;
  background-color: #fff;
  border: 2px solid none;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px #555;
          box-shadow: 5px 5px 10px #555;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal_middle_window .modal_middle_window_head {
  width: 100%;
  height: 15%;
  padding: 2.5%;
  background-color: #eee;
  border-radius: 5px 5px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  z-index: 102;
}

.modal_middle_window .modal_middle_windo_context {
  width: 100%;
  height: 70%;
  padding: 2.5% 2.5% 0.5% 2.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
}

.modal_middle_window .modal_middle_window_footer {
  width: 100%;
  height: 15%;
  padding: 2.5%;
  background-color: #eee;
  border-radius: 0 0 5px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal_window {
  width: 80vw;
  height: auto;
  position: absolute;
  top: 7vh;
  left: 10vw;
  z-index: 101;
  background-color: #fff;
  border: 2px solid none;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px #555;
          box-shadow: 5px 5px 10px #555;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal_window .modal_window_head {
  width: 100%;
  height: 5%;
  padding: 1.5%;
  background-color: #eee;
  border-radius: 5px 5px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  z-index: 102;
}

.modal_window .modal_windo_context {
  width: 100%;
  height: 90%;
  padding: 2.5% 2.5% 2.5% 2.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
}

.modal_window .modal_window_footer {
  width: 100%;
  height: 5%;
  padding: 1%;
  background-color: #eee;
  border-radius: 0 0 5px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.shadow-cut {
  opacity: 0.5;
}

.modal-fixed {
  position: fixed;
}

.box_flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 15px 0 0 0;
}

.text_box {
  width: 20%;
  height: 20px;
  font-size: 20px;
  padding: 6px 0;
  text-align: right;
  margin-right: 10px;
}

.input_box {
  width: 70%;
  text-align: center;
}

.input_box2 {
  width: 20%;
  text-align: center;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 0 0 15px;
}

.input_login {
  width: 100%;
  height: 40%;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border-color: #779fcb;
}

.input_radio {
  width: 100%;
  height: 90%;
  margin: 3px 0 0 -30px;
  cursor: pointer;
}

.box_flex_button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 5% 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input_box_button {
  width: 150px;
  height: 40px;
  margin: 0 10px;
}

.input_box_button .input_button {
  width: 100%;
  height: 100%;
  background-color: #779fcb;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px #000;
          box-shadow: 5px 5px 10px #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.input_box_button :hover {
  background-color: #e77f51;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.input_box_button :active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.close_modal {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #779fcb;
  top: 10px;
  right: 10px;
  -webkit-box-shadow: 5px 5px 10px #555;
          box-shadow: 5px 5px 10px #555;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.close_modal .close_modal_cross {
  font-size: 24px;
  margin: -2px 0 0 5px;
}

.close_modal:hover {
  background-color: #e77f51;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.close_modal .close_modal_cross:hover {
  -webkit-animation: scale0 1s infinite ease-in-out;
          animation: scale0 1s infinite ease-in-out;
}

.close_modal:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.navibar {
  width: 100%;
  height: 40px;
  background-color: #779fcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: fixed;
}

.navibar .navibar_left {
  width: 70%;
  height: 40px;
  background-color: #779fcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navibar .navibar_right {
  width: 30%;
  height: 40px;
  background-color: #779fcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navibar_logo {
  font-size: 20px;
  margin: 0 5px;
  padding: 5px;
}

.navi_button {
  font-size: 20px;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.navi_button:hover {
  color: #e77f51;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.navi_button:active {
  color: #fff;
}

.button_panel {
  width: 100%;
  height: 40px;
  margin: 10px auto;
}

.btn_panel {
  width: 140px;
  height: 35px;
  margin: 5px 8px;
  font-size: 16px;
  cursor: pointer;
  border: 2px;
  background-color: #ccc;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px #555;
          box-shadow: 5px 5px 10px #555;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.btn_panel:hover {
  background-color: #779fcb;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: #fff;
}

.btn_panel:active {
  background-color: #e77f51;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.table_all {
  width: 100%;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.table_all .table_all_head .table_all_tr .table_all_th {
  border: 1px solid #000;
  height: 40px;
  background-color: #ccc;
}

.table_all .table_all_head .table_all_tr .table_all_th_point {
  width: 50px;
}

.table_all .table_all_body .table_all_tr .table_all_td {
  border: 1px solid #000;
  padding: 5px;
}

.table_all .table_all_body .table_all_tr .table_all_td_point {
  width: 50px;
  text-align: center;
}

.table_all .table_all_body .table_all_tr .table_all_td_point-flowers {
  width: 100px;
  text-align: center;
}

.table_all_tr:hover {
  background-color: #779fcb;
}

.table-hover:hover {
  background-color: #2f548b;
  color: #fff;
}

.table-hover2:hover {
  background-color: #e77f51;
}

.table-point {
  cursor: pointer;
}

.input_string {
  width: 280px;
  height: 30px;
  font-size: 18px;
  padding: 0 10px;
  border-radius: 5px;
}

.input_string_title {
  font-size: 20px;
  font-weight: 500;
}

.select_string {
  width: 300px;
  height: 30px;
  font-size: 18px;
  padding: 0 10px;
  border-radius: 5px;
}

.select_string_title {
  font-size: 20px;
  font-weight: 500;
}

.new_flower {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #ccc;
}

.new_flower .new_flower_box {
  width: 350px;
  height: 100px;
  margin: 15px 10px;
}

.placeholder_option {
  color: #ccc;
}

.input_file {
  padding: 10px;
  height: 30px;
  font-size: 18px;
}

.new_flower_box_img {
  width: 350px;
  height: 200px;
  padding: 25px 0 0 0;
}

.img_flower {
  width: 200px;
  height: auto;
}

.btn_save {
  margin: 20px auto;
}

.modal_add {
  width: 100%;
  height: 100%;
}

.modal_add .shadow_add {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.modal_add_position {
  position: absolute;
  z-index: 101;
  top: 40%;
  left: 35%;
  width: 25vw;
  height: 200px;
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px #000;
          box-shadow: 5px 5px 10px #000;
  background-color: #fff;
}

.modal_add_position_head {
  width: 100%;
  height: 25%;
  padding: 2.5%;
  background-color: #eee;
  border-radius: 5px 5px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  z-index: 102;
}

.modal_add_position_context {
  width: 100%;
  height: 75%;
  padding: 2.5% 2.5% 2.5% 2.5%;
  border-radius: 0 0 5px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
}
