@charset "UTF-8";
/* 
* Основной блок стилизации
*/
.App {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.modal {
  width: 100%;
  height: 100%;
}

.modal .shadow {
  width: 100%;
  height: 100%;
  background-color: #aaa;
  position: relative;
  z-index: 100;
}

.modal_middle_window {
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 25vh;
  left: 25vw;
  z-index: 101;
  background-color: #fff;
  border: 2px solid none;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px #555;
          box-shadow: 5px 5px 10px #555;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal_middle_window .modal_middle_window_head {
  width: 100%;
  height: 15%;
  padding: 2.5%;
  background-color: #eee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  position: relative;
  z-index: 102;
}

.modal_middle_window .modal_middle_windo_context {
  width: 100%;
  height: 70%;
  padding: 2.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

.modal_middle_window .modal_middle_window_footer {
  width: 100%;
  height: 15%;
  padding: 2.5%;
  background-color: #eee;
  border-radius: 0 0 5px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box_flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 15px 0 0 0;
}

.text_box {
  width: 20%;
  height: 20px;
  font-size: 20px;
  padding: 6px 0;
  text-align: right;
  margin-right: 10px;
}

.input_box {
  width: 70%;
  text-align: center;
}

.input_login {
  width: 100%;
  height: 20px;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border-color: #779fcb;
}

.box_flex_button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 5% 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input_box_button {
  width: 150px;
  height: 40px;
  margin: 0 10px;
}

.input_box_button .input_button {
  width: 100%;
  height: 100%;
  background-color: #779fcb;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px #aaa;
          box-shadow: 5px 5px 10px #aaa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.input_box_button :hover {
  background-color: #e77f51;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.input_box_button :active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.close_modal {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #779fcb;
  top: -30px;
  right: -30px;
  -webkit-box-shadow: 5px 5px 10px #555;
          box-shadow: 5px 5px 10px #555;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.close_modal .close_modal_cross {
  font-size: 24px;
  margin: -2px 0 0 5px;
}

.close_modal:hover {
  background-color: #e77f51;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.close_modal:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
